:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
  align-items: center;
  background-color: #AAA;
  display: flex;
}

#info {
  display: flex;
  justify-content: center;
  padding: 2em;
}

#colorBar {
  display: flex;
  justify-content: center;
}

.colorBtns {
  margin: 1em;
  padding: 10px;
}

#randomBtn {
  margin: 1em;
  padding: 10px;
}

#mainCont {
  margin: 0 auto;
  width: 850px;
}

#gridCont {
  margin: 0 auto;
  display: grid;
	width: 800px;
  justify-content: center;
  align-content: center;
  border: 10px solid purple;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.gridCell {
	background-color: #FFF;
  outline: 1px solid rgba(0,0,0,0.2);
  text-align: center;
}
